-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: fitpulse_gym
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `fitpulse_gym`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `fitpulse_gym` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `fitpulse_gym`;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `terminal` varchar(100) NOT NULL,
  `status` varchar(50) DEFAULT 'Verified In',
  `duration` varchar(50) DEFAULT 'Active Now',
  `scanned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `scan_date` date DEFAULT (curdate()),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `actor_user_id` int DEFAULT NULL,
  `actor_role` varchar(50) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` varchar(50) NOT NULL,
  `previous_state` longtext,
  `new_state` longtext,
  `ip_address` varchar(50) DEFAULT '127.0.0.1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_entity` (`entity_type`,`entity_id`),
  KEY `idx_actor` (`actor_user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` int NOT NULL,
  `sender_name` varchar(100) NOT NULL,
  `sender_role` varchar(50) NOT NULL,
  `receiver_id` int NOT NULL,
  `receiver_name` varchar(100) DEFAULT NULL,
  `channel_type` varchar(50) DEFAULT 'member_trainer',
  `message` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `community_posts`
--

DROP TABLE IF EXISTS `community_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `community_posts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `author_name` varchar(100) NOT NULL,
  `author_role` varchar(100) DEFAULT NULL,
  `author_avatar` text,
  `badge` varchar(50) DEFAULT NULL,
  `content` text NOT NULL,
  `likes_count` int DEFAULT '0',
  `comments_count` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `community_posts`
--

LOCK TABLES `community_posts` WRITE;
/*!40000 ALTER TABLE `community_posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `community_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `invoice_code` varchar(50) NOT NULL,
  `amount` varchar(50) NOT NULL,
  `status` varchar(50) DEFAULT 'Paid',
  `payment_date` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_queries`
--

DROP TABLE IF EXISTS `member_queries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_queries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `member_id` int NOT NULL,
  `member_name` varchar(100) NOT NULL,
  `member_email` varchar(150) NOT NULL,
  `category` varchar(100) DEFAULT 'General',
  `subject` varchar(200) NOT NULL,
  `message` text NOT NULL,
  `status` varchar(50) DEFAULT 'Pending',
  `admin_notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_queries`
--

LOCK TABLES `member_queries` WRITE;
/*!40000 ALTER TABLE `member_queries` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_queries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memberships`
--

DROP TABLE IF EXISTS `memberships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberships` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `plan_name` varchar(100) DEFAULT 'Elite Black Card',
  `price_monthly` decimal(6,2) DEFAULT '89.00',
  `status` varchar(50) DEFAULT 'Active',
  `renewal_date` varchar(50) DEFAULT '28 September 2026',
  `payment_method` varchar(100) DEFAULT 'Visa ΓÇóΓÇóΓÇóΓÇó 4242',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memberships`
--

LOCK TABLES `memberships` WRITE;
/*!40000 ALTER TABLE `memberships` DISABLE KEYS */;
INSERT INTO `memberships` VALUES (1,1,'1 Month Gym Membership',1499.00,'Active','1 November 2026','Cashfree PG ΓÇó UPI / NetBanking');
/*!40000 ALTER TABLE `memberships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_deliveries`
--

DROP TABLE IF EXISTS `notification_deliveries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_deliveries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `notification_id` int NOT NULL,
  `recipient_email` varchar(150) DEFAULT NULL,
  `channel` enum('in_app','email','websocket','sms') NOT NULL,
  `provider` varchar(50) DEFAULT 'fitpulse_internal',
  `delivery_status` enum('Queued','Sent','Delivered','Bounced','Failed','Retrying') DEFAULT 'Queued',
  `subject` varchar(200) DEFAULT NULL,
  `attempt_count` int DEFAULT '1',
  `last_attempt_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `delivered_at` datetime DEFAULT NULL,
  `provider_message_id` varchar(150) DEFAULT NULL,
  `last_error` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_notif` (`notification_id`),
  KEY `idx_status` (`delivery_status`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_deliveries`
--

LOCK TABLES `notification_deliveries` WRITE;
/*!40000 ALTER TABLE `notification_deliveries` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `recipient_user_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `type` varchar(50) DEFAULT 'info',
  `title` varchar(150) NOT NULL,
  `message` text NOT NULL,
  `read_status` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `event_id` varchar(100) DEFAULT NULL,
  `category` varchar(50) DEFAULT 'system',
  `entity_type` varchar(50) DEFAULT NULL,
  `entity_id` varchar(50) DEFAULT NULL,
  `is_confidential` tinyint(1) DEFAULT '0',
  `read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nutrition_logs`
--

DROP TABLE IF EXISTS `nutrition_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nutrition_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `meal_name` varchar(150) NOT NULL,
  `calories` int NOT NULL,
  `protein` int NOT NULL,
  `carbs` int NOT NULL,
  `fats` int NOT NULL,
  `time_logged` varchar(50) DEFAULT NULL,
  `log_date` date DEFAULT (curdate()),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nutrition_logs`
--

LOCK TABLES `nutrition_logs` WRITE;
/*!40000 ALTER TABLE `nutrition_logs` DISABLE KEYS */;
INSERT INTO `nutrition_logs` VALUES (1,13,'Paneer & Brown Rice',520,38,60,14,'11:26 AM','2026-09-18'),(2,14,'Paneer & Brown Rice',520,38,60,14,'11:30 AM','2026-09-18');
/*!40000 ALTER TABLE `nutrition_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outbox_events`
--

DROP TABLE IF EXISTS `outbox_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outbox_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `event_type` varchar(100) NOT NULL,
  `aggregate_type` varchar(50) NOT NULL,
  `aggregate_id` varchar(50) NOT NULL,
  `payload` longtext NOT NULL,
  `status` enum('Pending','Processed','Failed') DEFAULT 'Pending',
  `attempt_count` int DEFAULT '0',
  `available_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `processed_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outbox_events`
--

LOCK TABLES `outbox_events` WRITE;
/*!40000 ALTER TABLE `outbox_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `outbox_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `order_id` varchar(100) NOT NULL,
  `cf_order_id` varchar(100) DEFAULT NULL,
  `cf_payment_id` varchar(100) DEFAULT NULL,
  `user_id` int NOT NULL,
  `user_name` varchar(150) DEFAULT NULL,
  `user_email` varchar(150) DEFAULT NULL,
  `payment_type` varchar(60) NOT NULL,
  `plan_duration` varchar(50) DEFAULT NULL,
  `plan_name` varchar(150) DEFAULT NULL,
  `trainer_id` int DEFAULT NULL,
  `trainer_name` varchar(150) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(10) DEFAULT 'INR',
  `payment_status` varchar(50) DEFAULT 'PENDING',
  `payment_method` varchar(100) DEFAULT 'Cashfree PG',
  `payment_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime DEFAULT NULL,
  `raw_response` longtext,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_id` (`order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progress_records`
--

DROP TABLE IF EXISTS `progress_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `lift_name` varchar(100) NOT NULL,
  `weight_kg` decimal(5,2) NOT NULL,
  `previous_weight_kg` decimal(5,2) NOT NULL,
  `badge` varchar(50) DEFAULT NULL,
  `recorded_at` date DEFAULT (curdate()),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progress_records`
--

LOCK TABLES `progress_records` WRITE;
/*!40000 ALTER TABLE `progress_records` DISABLE KEYS */;
INSERT INTO `progress_records` VALUES (1,1,'Conventional Deadlift',160.00,145.00,'+15 kg PR ≡ƒÜÇ','2026-09-13'),(2,1,'Barbell Bench Press',105.00,100.00,'+5 kg PR ΓÜí','2026-09-13'),(3,1,'High Bar Back Squat',140.00,130.00,'+10 kg PR ≡ƒÅå','2026-09-13'),(4,1,'Standing Overhead Press',72.50,70.00,'+2.5 kg PR Γ£¿','2026-09-13'),(5,1,'Barbell Bench Press',110.00,105.00,'+5 kg PR ≡ƒÜÇ','2026-09-18'),(6,13,'Barbell Bench Press',85.00,80.00,'+5 kg PR ≡ƒÜÇ','2026-09-18'),(7,14,'Barbell Bench Press',85.00,80.00,'+5 kg PR ≡ƒÜÇ','2026-09-18');
/*!40000 ALTER TABLE `progress_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refunds_and_credits`
--

DROP TABLE IF EXISTS `refunds_and_credits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refunds_and_credits` (
  `id` int NOT NULL AUTO_INCREMENT,
  `adjustment_id` int DEFAULT NULL,
  `payment_id` int DEFAULT NULL,
  `member_id` int NOT NULL,
  `amount_minor` int NOT NULL,
  `currency` varchar(10) DEFAULT 'INR',
  `type` enum('credit','refund') DEFAULT 'credit',
  `status` enum('Pending','Completed','Failed') DEFAULT 'Pending',
  `gateway_refund_id` varchar(100) DEFAULT NULL,
  `credit_ledger_reference` varchar(100) DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_member` (`member_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refunds_and_credits`
--

LOCK TABLES `refunds_and_credits` WRITE;
/*!40000 ALTER TABLE `refunds_and_credits` DISABLE KEYS */;
INSERT INTO `refunds_and_credits` VALUES (1,2,NULL,1,50000,'INR','credit','Completed',NULL,NULL,'Prorated credit for coach transfer (TCR-867751-857)','2026-10-02 04:54:27','2026-10-02 04:54:27');
/*!40000 ALTER TABLE `refunds_and_credits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainee_assignments`
--

DROP TABLE IF EXISTS `trainee_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trainee_assignments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `trainer_id` int NOT NULL,
  `member_id` int NOT NULL,
  `status` varchar(50) DEFAULT 'Active',
  `assigned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainee_assignments`
--

LOCK TABLES `trainee_assignments` WRITE;
/*!40000 ALTER TABLE `trainee_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `trainee_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainer_assignments`
--

DROP TABLE IF EXISTS `trainer_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trainer_assignments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `member_id` int NOT NULL,
  `trainer_id` int NOT NULL,
  `status` enum('Active','Ended','Transferred','Cancelled') DEFAULT 'Active',
  `start_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `end_at` datetime DEFAULT NULL,
  `source_request_id` int DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_member` (`member_id`),
  KEY `idx_trainer` (`trainer_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainer_assignments`
--

LOCK TABLES `trainer_assignments` WRITE;
/*!40000 ALTER TABLE `trainer_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `trainer_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainer_change_billing_adjustments`
--

DROP TABLE IF EXISTS `trainer_change_billing_adjustments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trainer_change_billing_adjustments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `request_id` int NOT NULL,
  `member_id` int NOT NULL,
  `current_trainer_fee_minor` int NOT NULL,
  `new_trainer_fee_minor` int NOT NULL,
  `currency` varchar(10) DEFAULT 'INR',
  `billing_period_start` date NOT NULL,
  `billing_period_end` date NOT NULL,
  `effective_at` datetime NOT NULL,
  `remaining_eligible_days` int NOT NULL,
  `total_billing_period_days` int NOT NULL,
  `calculation_method` varchar(50) DEFAULT 'same_period_difference',
  `credit_amount_minor` int DEFAULT '0',
  `charge_amount_minor` int DEFAULT '0',
  `tax_amount_minor` int DEFAULT '0',
  `final_adjustment_minor` int NOT NULL,
  `status` enum('Pending','Payment Required','Paid','Credited','Refunded','Settled','Waived') DEFAULT 'Pending',
  `calculation_snapshot` longtext,
  `payment_order_id` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_request` (`request_id`),
  KEY `idx_member` (`member_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainer_change_billing_adjustments`
--

LOCK TABLES `trainer_change_billing_adjustments` WRITE;
/*!40000 ALTER TABLE `trainer_change_billing_adjustments` DISABLE KEYS */;
/*!40000 ALTER TABLE `trainer_change_billing_adjustments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainer_change_requests`
--

DROP TABLE IF EXISTS `trainer_change_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trainer_change_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `request_number` varchar(50) NOT NULL,
  `request_type` enum('member_change_trainer','trainer_remove_member','member_change_plan') NOT NULL DEFAULT 'member_change_trainer',
  `initiated_by_user_id` int NOT NULL,
  `member_id` int NOT NULL,
  `current_trainer_id` int NOT NULL,
  `preferred_trainer_id` int DEFAULT NULL,
  `reason_code` varchar(100) NOT NULL,
  `description` text,
  `is_confidential` tinyint(1) DEFAULT '0',
  `status` enum('Submitted','Under Review','Awaiting Payment','Approved','Processing','Completed','Rejected','Withdrawn','On Hold','Action Required') DEFAULT 'Submitted',
  `effective_at` datetime DEFAULT NULL,
  `billing_adjustment_id` int DEFAULT NULL,
  `reviewed_by_admin_id` int DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `rejection_reason` text,
  `completed_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `version` int DEFAULT '1',
  `current_plan_duration` varchar(50) DEFAULT NULL,
  `requested_plan_duration` varchar(50) DEFAULT NULL,
  `plan_adjustment_inr` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`id`),
  UNIQUE KEY `request_number` (`request_number`),
  KEY `idx_member` (`member_id`),
  KEY `idx_curr_trainer` (`current_trainer_id`),
  KEY `idx_pref_trainer` (`preferred_trainer_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainer_change_requests`
--

LOCK TABLES `trainer_change_requests` WRITE;
/*!40000 ALTER TABLE `trainer_change_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `trainer_change_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainer_sessions`
--

DROP TABLE IF EXISTS `trainer_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trainer_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `trainer_name` varchar(100) NOT NULL,
  `member_name` varchar(100) DEFAULT NULL,
  `title` varchar(150) NOT NULL,
  `session_time` varchar(100) NOT NULL,
  `total_slots` int DEFAULT '10',
  `booked_slots` int DEFAULT '7',
  `status` varchar(50) DEFAULT 'Confirmed',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainer_sessions`
--

LOCK TABLES `trainer_sessions` WRITE;
/*!40000 ALTER TABLE `trainer_sessions` DISABLE KEYS */;
INSERT INTO `trainer_sessions` VALUES (1,'Alex Carter','Nihal Carter','1-on-1 Upper Biomechanics','Tomorrow @ 10:00 AM',10,7,'Confirmed'),(2,'Sarah Jenkins',NULL,'Athletic VO2 Max & Agility','Tuesday @ 04:00 PM',10,5,'Open'),(3,'Marcus Vance',NULL,'Olympic Snatch Diagnostic','Wednesday @ 06:30 PM',8,8,'Sold Out');
/*!40000 ALTER TABLE `trainer_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `gender` varchar(30) DEFAULT 'Not Specified',
  `age` int DEFAULT '22',
  `password_hash` varchar(255) NOT NULL,
  `goal` varchar(50) DEFAULT 'Build Muscle',
  `role` varchar(30) DEFAULT 'Member',
  `membership_id` varchar(50) DEFAULT 'FP-8849-ELITE',
  `height_cm` decimal(5,2) DEFAULT '180.00',
  `weight_kg` decimal(5,2) DEFAULT '72.40',
  `emergency_contact` varchar(150) DEFAULT 'Sarah Carter (+91 98765 43211)',
  `avatar_url` longtext,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `personal_email` varchar(150) DEFAULT NULL,
  `specialty` varchar(100) DEFAULT NULL,
  `face_descriptor` longtext,
  `face_photo` longtext,
  `face_enrolled` tinyint(1) DEFAULT '0',
  `face_enrolled_at` timestamp NULL DEFAULT NULL,
  `gym_membership_active` tinyint(1) DEFAULT '0',
  `gym_membership_plan` varchar(100) DEFAULT NULL,
  `gym_membership_duration` varchar(50) DEFAULT NULL,
  `gym_membership_expires_at` datetime DEFAULT NULL,
  `gym_membership_paid_at` datetime DEFAULT NULL,
  `trainer_id` int DEFAULT NULL,
  `trainer_fee_paid` tinyint(1) DEFAULT '0',
  `trainer_fee_expires_at` datetime DEFAULT NULL,
  `monthly_fee` decimal(10,2) DEFAULT '2999.00',
  `bio` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workout_exercises`
--

DROP TABLE IF EXISTS `workout_exercises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workout_exercises` (
  `id` int NOT NULL AUTO_INCREMENT,
  `workout_id` int DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `target` varchar(100) DEFAULT NULL,
  `sets` varchar(50) DEFAULT NULL,
  `reps` varchar(50) DEFAULT NULL,
  `weight` varchar(50) DEFAULT NULL,
  `completed` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workout_exercises`
--

LOCK TABLES `workout_exercises` WRITE;
/*!40000 ALTER TABLE `workout_exercises` DISABLE KEYS */;
INSERT INTO `workout_exercises` VALUES (1,1,'Incline Dumbbell Bench Press','Upper Pectorals','4 sets','8-10 reps','36 kg',1),(2,1,'Barbell Flat Bench Press','Mid Chest','4 sets','6 reps','90 kg',1),(3,1,'Weighted Chest Dips','Lower Chest & Triceps','3 sets','10 reps','+20 kg',0),(4,1,'Cable Lateral Deltoid Raises','Lateral Deltoids','4 sets','15 reps','14 kg',0);
/*!40000 ALTER TABLE `workout_exercises` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workouts`
--

DROP TABLE IF EXISTS `workouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workouts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `title` varchar(150) NOT NULL,
  `phase` varchar(50) DEFAULT 'Phase II',
  `status` varchar(50) DEFAULT 'In Progress',
  `volume_kg` int DEFAULT '18400',
  `duration_mins` int DEFAULT '48',
  `assigned_date` date DEFAULT (curdate()),
  `notes` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workouts`
--

LOCK TABLES `workouts` WRITE;
/*!40000 ALTER TABLE `workouts` DISABLE KEYS */;
INSERT INTO `workouts` VALUES (1,1,'Hypertrophy Push: Phase II','Phase II','In Progress',18400,48,'2026-09-13',NULL);
/*!40000 ALTER TABLE `workouts` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02 17:55:36
